body {
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1533578215/Backgrounds/ep_naturalwhite.png");
  font-family: "Verdana";
}

.badge {
  line-height: 0.6;
  padding: 0.2em 0.2em;
  border: 2px solid black;
}

.badge:hover {
  cursor: pointer;
  border-color: white;
  color: white;
}

.hidden {
  display: none;
}

#shopBanner {
  height: 15vh;
  background-color: #445D7D;
}
#shopBanner #bannerImage {
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1541010546/Avatars/Higgsy/side_higgsLaugh.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px groove #292531;
}
#shopBanner #bannerTitle {
  font-size: 3.5em;
  overflow: hidden;
  font-family: "Monotype Corsiva";
}
#shopBanner #bannerTagline {
  font-family: "Lucida Handwriting";
}

#flavorText #testimonials {
  font-family: "Lucida Handwriting";
}
#hintBox {
  border-radius: 2%;
  border: 2px solid black;
  background-color: grey;
  overflow: auto;
  width: 350px;
  height: 500px;
  position: fixed;
  top: 5px;
  right: 5px;
}
#hintBox #hintHide {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1548289539/icons8-delete-48.png");
  background-size: contain;
  background-color: black;
  border: 2px dashed white;
}
#hintBox #hintHide:hover {
  cursor: pointer;
  border: 2px solid black;
}
#hintBox #hintTitle {
  font-size: 2em;
  font-weight: bold;
}

#itemWorkshop {
  padding: 0;
  border: 2px inset #C7814A;
  background-color: #7F95AD;
}
#itemWorkshop #workshopBanner {
  font-family: "Monotype Corsiva";
  font-size: 2em;
  background-color: #292531;
  color: #C1A782;
}
#itemWorkshop #effectListing {
  border-bottom: 5px groove black;
}
#itemWorkshop #effectListing .ribbonWrapper {
  position: relative;
  width: 25px;
  height: 30px;
}
#itemWorkshop #effectListing .ribbonWrapper .masterRibbon {
  height: 30px;
  color: white;
  width: 25px;
  padding-top: 5px;
  background-color: #C7814A;
  border-radius: 5%;
  text-align: center;
  -webkit-clip-path: polygon(50% 23%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 23%, 100% 0, 100% 100%, 0 100%, 0 0);
  transition: height 0.5s;
}
#itemWorkshop #effectListing .ribbonWrapper .masterRibbon:hover {
  cursor: pointer;
}
#itemWorkshop #effectListing .ribbonWrapper .effectRibbon {
  height: 10px;
  color: white;
  width: 25px;
  padding-top: 5px;
  background-color: #445D7D;
  border-radius: 5%;
  text-align: center;
  -webkit-clip-path: polygon(50% 23%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 23%, 100% 0, 100% 100%, 0 100%, 0 0);
  transition: height 0.5s;
  position: absolute;
  bottom: 0;
}
#itemWorkshop #effectListing .ribbonWrapper .effectRibbon:hover {
  height: 20px;
  cursor: pointer;
}
#itemWorkshop #effectListing .ribbonWrapper .activeRibbon {
  height: 30px !important;
}

#completedItems #finalItem {
  border: 2px solid #292531;
  overflow: auto;
}
#footer {
  background-color: #292531;
  color: #C1A782;
}

/*# sourceMappingURL=itemCrafter.css.map */
